@import "tailwindcss";

@theme {
        --color-brand-default: #a30ac2;
        --color-brand-dark: #7a098f;
        --color-brand-light:#c74ed9;
        --color-brand-active:#5b0769;
        --color-brand-disabled:#d1c4e9;

        --color-brand-dark-default:#c74ed9;
        --color-brand-dark-dark:#a30ac2;
        --color-brand-dark-light:#e1a2f0;
        --color-brand-dark-active:#7a098f;
        --color-brand-dark-disabled:#4a4a4a;

        --color-neutral-background:#f5f5f5;
        --color-neutral-text-dark:#333333;
        --color-neutral-text-light:#ffffff;
        --color-neutral-borders:#e0e0e0;

        --color-neutral-dark-background:#1e1e1e;
        --color-neutral-dark-text-light:#e0e0e0;
        --color-neutral-dark-text-dark:#333333;
        --color-neutral-dark-borders:#424242;

        --color-success-default:#4caf50;
        --color-success-dark:#388e3c;
        --color-success-active:#2e7d32;
        --color-successisabled:#a5d6a7;

        --color-success-dark-default:#66bb6a ;
        --color-success-dark-dark:#4caf50;
        --color-success-dark-active:#388e3c;
        --color-success-darkisabled:#2e7d32;

        --color-danger-default:#f44336;
        --color-danger-dark:#d32f2f;
        --color-danger-active:#c62828;
        --color-dangerisabled:#ffcdd2;

        --color-danger-dark-default:#ef5350;
        --color-danger-dark-dark:#f44336;
        --color-danger-dark-active:#d32f2f;
        --color-danger-darkisabled:#c62828;

        --color-secondary-default:#9e9e9e;
        --color-secondary-dark:#757575;
        --color-secondary-active:#616161;
        --color-secondaryisabled:#e0e0e0;

        --color-secondary-dark-default:#bdbdbd;
        --color-secondary-dark-dark:#9e9e9e;
        --color-secondary-dark-active:#757575;
        --color-secondary-darkisabled:#424242;
}